---

---

<div class="section-control"></div>

<style>
  .section-control {
    background: var(--color-GRIS);
    margin-right: 1rem;
    border-radius: var(--border-radius-8);
    height: calc(100vh - 4rem); /* Ajusta la altura según sea necesario */
  }

  .section-control h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .section-control p {
    font-size: 1rem;
    color: #555;
  }
</style>
