---
import "../style/sidebar.css";
---

<section class="bar-home-content">
  <div class="section-bar-area-content">
    <div class="section-bar-menu">
      <div class="btn-buttuon-agreagar">
        <button><i class="bx bxs-user-plus"></i>Nuevo</button>
      </div>

      <div class="list-bar">
        <ul>
          <li class="list-item">
            <a href="/Admin-Control/Admin-home active">
              <i class="bx bxs-home"></i>
              <span>Página Principal</span>
            </a>
          </li>
          <li class="list-item">
            <a href="/Admin-Control/Matricula">
              <i class="bx bx-pie-chart-alt-2"></i>
              <span>Matrícula</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#">
              <i class="bx bxl-medium"></i>
              <span>Materias</span>
            </a>
            <i class="bx bx-chevron-down"></i>
            <ul class="sublist collapse">
              <li class="sublist-item">
                <a href="#">
                  <span>Actividad</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="list-item">
            <a href="#">
              <i class="bx bxs-calculator"></i>
              <span>Ponderación</span>
            </a>
            <i class="bx bx-chevron-down"></i>
            <ul class="sublist collapse">
              <li class="sublist-item">
                <a href="#">
                  <i class="bx bxs-folder"></i>
                  <span>Notas</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="list-item">
            <a href="#">
              <i class="bx bx-trash"></i>
              <span>Papelera</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="close-sidebar">
    Minimizar<i class="bx bx-left-arrow-circle"></i>
  </button>
</section>
