---
// import estilos css globales
import "../style/welcome.css";
---

<section class="welcome-contents">
  <img
    src="/public/SVG/EllipseFigma.svg"
    class="welcome-elipce-1 welcome-elipce"
  />
  <img
    src="/public/SVG/EllipseFigma.svg"
    class="welcome-elipce-2 welcome-elipce"
  />
  <div class="welcome-content-info">
    <div class="welcome-content-title">
      <div class="welcome-logo">
        <img src="/public/SVG/Logo-1.svg" />
      </div>
      <h1 class="welcome-title">
        Bienvenidos Al Sistema Que Gestiona Tus Notas
      </h1>
      <p class="welcome-content-sub-paragraph">
        GLLR es un sistema de gesti贸n de notas que permite a los estudiantes
        llevar un control de sus calificaciones y a los profesores gestionar las
        notas de sus alumnos, facilitando as铆 el proceso de evaluaci贸n y
        seguimiento del rendimiento acad茅mico, todo en un solo lugar, f谩cil de
        usar y accesible desde cualquier dispositivo con conexi贸n a internet.
      </p>

      <button
        class="welcome-login btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Ver Mis Notas
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-arrow-badge-right"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M7 6l-.112 .006a1 1 0 0 0 -.669 1.619l3.501 4.375l-3.5 4.375a1 1 0 0 0 .78 1.625h6a1 1 0 0 0 .78 -.375l4 -5a1 1 0 0 0 0 -1.25l-4 -5a1 1 0 0 0 -.78 -.375h-6z"
          ></path>
        </svg>
      </button>
    </div>

    <div class="welcome-content-image">
      <img src=" /public/img/Desktop-Inicio.jpg" class="welcome-image" />
    </div>
  </div>
</section>

<!-- Modal LOGIN -->

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <img class="ellipse-login" src="/public/SVG/EllipseFigma.svg" />
      <div class="modal-body">
        <!-- Formulario de inicio de sesi贸n -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"></button>
        <img class="logo-login" src="/public/SVG/Logo-1.svg" />
        <h5 class="modal-title" id="loginModalLabel">Bienvenido De Nuevo </h5>
        <p class="login-modal-p">
          Inicia sesi贸n para empezar la revisi贸n de tus notas.
        </p>
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electr贸nico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Example_User55"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contrase帽a</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Al menos 8 caracteres"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">
            Iniciar Sesi贸n
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
