---
import "../../style/style-admin/data-table.css";
---

<section class="data-content-section">
  <!-- Sección de búsqueda -->
  <section class="search-content-data">
    <div class="welcome-search-data">
      <h2 class="welcome-search-data__title">Matriculación</h2>
      <p class="welcome-search-data__text">
        Aquí puedes gestionar los datos de los nuevos Ingresos
      </p>
    </div>
  </section>

  <!-- Sección de tablas -->
  <section class="content-info-data">
    <!-- Primera tabla -->
    <section class="display-table">
      <div class="content-table1">
        <div class="table-person">
          <button
            class="btn btn-primary d-flex align-items-center gap-2 toggle-icon"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#table1"
            aria-expanded="false"
            aria-controls="table1"
          >
            <i class="bx bx-chevron-down"></i>
            <h4 class="m-0">Datos Personales</h4>
          </button>
        </div>
        <div class="type-data">
          <span>Matriculación Actual / <strong>5 - Alumnos</strong></span>
        </div>
      </div>

      <div class="collapse" id="table1">
        <div class="tabla-info-person">
          <table class="blueTable">
            <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">C.I.</th>
                <th scope="col">Estado</th>
                <th scope="col">Periodo Académico</th>
                <th scope="col">Conexiones</th>
                <th scope="col">Última Conexión</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Juan</td>
                <td>Linares</td>
                <td>123455678</td>
                <td>Activo</td>
                <td>2020 | 2025</td>
                <td>15</td>
                <td>15/04/2025</td>
                <td class="menu-container">
                  <i class="bx bx-dots-vertical-rounded"></i>
                  <ul class="submenu">
                    <li>
                      <a href="#"><i class="bx bx-edit-alt"></i>Editar</a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bx-trash"></i>Eliminar</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-user-detail"></i>Ver Detalles</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>María</td>
                <td>Gómez</td>
                <td>987654321</td>
                <td>Inactivo</td>
                <td>2019 | 2024</td>
                <td>10</td>
                <td>14/04/2025</td>
                <td class="menu-container">
                  <i class="bx bx-dots-vertical-rounded"></i>
                  <ul class="submenu">
                    <li>
                      <a href="#"><i class="bx bx-edit-alt"></i>Editar</a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bx-trash"></i>Eliminar</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-user-detail"></i>Ver Detalles</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>María</td>
                <td>Gómez</td>
                <td>987654321</td>
                <td>Inactivo</td>
                <td>2019 | 2024</td>
                <td>10</td>
                <td>14/04/2025</td>
                <td class="menu-container">
                  <i class="bx bx-dots-vertical-rounded"></i>
                  <ul class="submenu">
                    <li>
                      <a href="#"><i class="bx bx-edit-alt"></i>Editar</a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bx-trash"></i>Eliminar</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-user-detail"></i>Ver Detalles</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>María</td>
                <td>Gómez</td>
                <td>987654321</td>
                <td>Inactivo</td>
                <td>2019 | 2024</td>
                <td>10</td>
                <td>14/04/2025</td>
                <td class="menu-container">
                  <i class="bx bx-dots-vertical-rounded"></i>
                  <ul class="submenu">
                    <li>
                      <a href="#"><i class="bx bx-edit-alt"></i>Editar</a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bx-trash"></i>Eliminar</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-user-detail"></i>Ver Detalles</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>María</td>
                <td>Gómez</td>
                <td>987654321</td>
                <td>Inactivo</td>
                <td>2019 | 2024</td>
                <td>10</td>
                <td>14/04/2025</td>
                <td class="menu-container">
                  <i class="bx bx-dots-vertical-rounded"></i>
                  <ul class="submenu">
                    <li>
                      <a href="#"><i class="bx bx-edit-alt"></i>Editar</a>
                    </li>
                    <li>
                      <a href="#"><i class="bx bx-trash"></i>Eliminar</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-user-detail"></i>Ver Detalles</a
                      >
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
</section>
